<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/MangaLabCustom.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/Content/dataTables.css" />

    <link href="https://cdn.datatables.net/columncontrol/1.1.1/css/columnControl.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.5.0/css/buttons.dataTables.min.css">
    



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <style>

        select#dt-length-1 {
            color:white;
            background-color: black;
        }

        select#dt-length-2 {
            color: white;
            background-color: black;
        }

        select#dt-length-0 {
            color: white;
            background-color: black;
        }

        label {
            margin-left: .25rem;
        }

        .dt-column-order {
            display:none;
        }
    
    </style>



</head>
<body ng-app="MangaLab" ng-controller="MangaLabController" class="d-flex flex-column min-vh-100">

    @*Navbar*@
    <nav class="navbar navbar-bg navbar-expand-lg p-3 border-bottom border-3 border-danger">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" ng-click="redirectToHome()">
                <img src="~/Content/MANGALAB-LOGO.png" class="fs-1">
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mt-3 mb-lg-0">
                    <li class="nav-item mx-3">
                        <a class="nav-link active text-white fs-5 roboto fw-light manga-title" aria-current="page" href="#" ng-click="redirectToHome()">Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link active text-white fs-5 roboto fw-light manga-title" aria-current="page" href="#" ng-click="redirectToMangaList()">Manga</a>
                    </li>
                    <li class="nav-item mx-3" ng-show="isAdmin">
                        <a class="nav-link active text-white fs-5 roboto fw-light manga-title" aria-current="page" href="#" ng-click="redirectToAdministration()">Administration</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" ng-submit="redirectToSearchResult()" novalidate>
                    <input class="form-control me-2 w-100" type="search" placeholder="Search" aria-label="Search" ng-model="search.query" />
                    <button class="btn btn-outline-danger gradient-hover" type="submit">Search</button>
                </form>
                <div class="text-center ms-3 my-3">

                    <button type="button" class="btn btn-outline-danger gradient-hover rounded-pill p-1" ng-click="redirectToSignIn()" ng-show="!isLoggedIn">
                        <span class="fs-5 mx-4">Sign In</span>
                    </button>

                    <div class="dropdown mb-1" ng-show="isLoggedIn">
                        <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                           href="#" id="accountDropdown"
                           data-bs-toggle="dropdown" aria-expanded="false">

                            <img ng-src="{{ userpic }}"
                                 class="rounded-circle"
                                 alt="Profile"
                                 style="width: 50px; height: 50px; object-fit: cover;">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark bg-black border border-danger"
                            aria-labelledby="accountDropdown">
                            <li><a class="dropdown-item text-white" href="#" ng-click="redirectToAccount()">Profile</a></li>

                            <li><hr class="dropdown-divider border-danger"></li>
                            <li><a class="dropdown-item text-danger" href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </nav>



    <div>
        @RenderBody()
    </div>

    @*Footer*@
    <footer class="d-flex border-top border-3 border-danger footer-bg justify-content-center align-items-center py-3">
        <a class="text-center" ng-click="redirectToHome()">
            <img src="~/Content/MANGALAB-LOGO.png" class="d-block">
        </a>
    </footer>

    @*Toast Container*@
    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer">
        <div id="successToast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="toastMessage">
                    @*Toast Message*@
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="modal fade shadow-lg" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*header*@
                <div class="modal-header text-white boldonse-regular" style="background-color: darkred; border-bottom: 0;">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Action</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body roboto text-light" id="confirmationBody" style="background-color: #262626; border-bottom: 0; ">
                </div>

                <div class="modal-footer" style="background-color: #262626; border-top: 0; ">
                    <button type="button" class="btn roboto text-light" style="background-color:black;" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn roboto text-light" style="background-color:darkred;" id="confirmActionButton">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div id="roleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header text-white boldonse-regular" style="background-color: darkred; border-bottom: 0;">
                    <h4 class="modal-title">Change Role: {{tempUser.username}}</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body roboto text-light" style="background-color: #262626; border-bottom: 0; ">
                    <label>Select New Role:</label>

                    <select class="form-control"
                            ng-model="tempUser.selectedRoleID"
                            ng-options="role.roleID as role.roleDescription for role in availableRoles">
                    </select>

                </div>
                <div class="modal-footer" style="background-color: #262626; border-top: 0; ">
                    <button type="button" class="btn roboto text-light" style="background-color:black;" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn roboto text-light" style="background-color:darkred;" ng-click="saveRoleChange()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.7.0.js"></script>

    <script src="~/Scripts/angular.js"></script>

    <script src="~/Scripts/ScriptOfLife/Module.js"></script>
    <script src="~/Scripts/ScriptOfLife/Service.js"></script>
    <script src="~/Scripts/ScriptOfLife/Controller.js"></script>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/columncontrol/1.1.1/js/dataTables.columnControl.min.js"></script>


    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/angular-chart.min.js"></script>

    <script src="~/Scripts/pdfmake/pdfmake.min.js"></script>
    <script src="~/Scripts/pdfmake/vfs_fonts.js"></script>

</body>
</html>
