@{
    Layout = "~/Views/Shared/_MangaLabLayout.cshtml";
}


<div class="container my-5" ng-init="initMangaPage('@ViewBag.MangaId')">

    <div class="row ">

        <div class="col-3 text-center">
            <img ng-src="{{ coverUrl }}" class="img-fluid" alt="Manga Cover">
        </div>

        <div class="col-9 p-1">
            <h1 class="text-white fs-1 boldonse-regular fw-bold mb-0">{{ displayTitle }}</h1>
            <h2 class="text-white fs-5 roboto fw-bold mb-0 mt-3">
                AUTHOR: {{ authorName }}
            </h2>
            <p class="d-flex align-items-center gap-2 mt-2 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-eye-fill text-dark" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                </svg>
                <span class="fw-semibold">{{ followCount | number }}</span>
            </p>
            <div>
                <span ng-repeat="genre in genres" class="badge roboto rounded-pill p-2 badge-color shadow-lg me-1 mb-1">
                    {{ genre.attributes.name.en }}
                </span>
            </div>
            <br />
            <span class="text-white fs-5 roboto fw-lighter h6 ">
                {{ displayDescription }}
            </span>

            <div class="text-start mt-3">
                <button type="button" class="btn btn-dark gradient-hover round-1 p-1 me-1"
                        ng-click="redirectToRead(mangaDetails.chapters[mangaDetails.chapters.length - 1])">
                    <span class="fs-5 mx-3">
                        Start Reading
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                            <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                        </svg>
                    </span>
                </button>

                <button type="button" class="btn gradient-hover round-1 p-1 text-light" style="background-color: #ab001f;"
                        ng-click="addFavorite()" ng-show="!isFavorite && isLoggedIn">
                    <span class="fs-5 mx-3">
                        Favorite
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                        </svg>
                    </span>
                </button>

                <button type="button" class="btn gradient-hover round-1 p-1 text-light" style="background-color: #ab001f;"
                        ng-click="unFavoriteManga()" ng-show="isFavorite && isLoggedIn">
                    <span class="fs-5 mx-3">
                        Unfavorite
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heartbreak" viewBox="0 0 16 16">
                            <path d="M8.867 14.41c13.308-9.322 4.79-16.563.064-13.824L7 3l1.5 4-2 3L8 15a38 38 0 0 0 .867-.59m-.303-1.01-.971-3.237 1.74-2.608a1 1 0 0 0 .103-.906l-1.3-3.468 1.45-1.813c1.861-.948 4.446.002 5.197 2.11.691 1.94-.055 5.521-6.219 9.922m-1.25 1.137a36 36 0 0 1-1.522-1.116C-5.077 4.97 1.842-1.472 6.454.293c.314.12.618.279.904.477L5.5 3 7 7l-1.5 3zm-2.3-3.06-.442-1.106a1 1 0 0 1 .034-.818l1.305-2.61L4.564 3.35a1 1 0 0 1 .168-.991l1.032-1.24c-1.688-.449-3.7.398-4.456 2.128-.711 1.627-.413 4.55 3.706 8.229Z" />
                        </svg>
                    </span>
                </button>


            </div>



        </div>
    </div>

    <div class="row mt-3">

        <div class="col-3">
            <div class="navbar-bg text-center p-3 rounded">
                <h5 class="text-white fw-bold mb-3 boldonse-regular p-2 badge-color rounded-1">CHAPTERS</h5>

                <div class="list-group w-100 mx-auto overflow-auto" style="max-height: 500px;">

                    <a ng-repeat="chapter in mangaDetails.chapters"
                       href="#"
                       class="list-group-item list-group-item-action text-white bg-dark border-0 mb-1 rounded d-flex justify-content-between align-items-center"
                       ng-click="redirectToRead(chapter)">

                        <span>CHAPTER {{ chapter.attributes.chapter || 'N/A' }}</span>
                        <span class="badge bg-danger text-light">{{ chapter.attributes.translatedLanguage | uppercase }}</span>
                    </a>

                </div>
            </div>
        </div>


        <div class="col-9">
            <div class="navbar-bg text-center p-3 rounded">
                <h5 class="text-white fw-bold mb-3 boldonse-regular p-2 badge-color rounded-1">MORE LIKE THIS</h5>

                <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 g-3" style="max-height: 500px;" ng-if="similarManga.length > 0">

                    <div class="col" ng-repeat="manga in similarManga">
                        <a class="text-decoration-none" ng-click="redirectToManga(manga)">
                            <div class="card h-100 bg-transparent border-0">
                                <div class="image-container manga-card">
                                    <img ng-src="{{getCoverUrl(manga)}}" class="card-img-top rounded-1 manga-cover">
                                </div>
                                <div class="card-body text-center">
                                    <span class="card-title text-white roboto fw-bold manga-title" style="font-size: 0.75rem;">{{ manga.attributes.title.en || manga.attributes.title['ja-ro'] }}</span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>